.button {
  border: 0;
  cursor: pointer;
  height: 30px;
  background-color: white;
  text-wrap: nowrap;
}

.icon {
  width: 30px;
}

.main {
  padding: 10px 20px;
  display: block;
  position: absolute;
  top: 200%;
  right: 50%;
  transform: translate(50%, 0%);
  z-index: 100;
  background-color: white;
  border: 3px solid #d9d9d9;
  border-radius: 30px;
}

.projects {
  padding: 5px;
  overflow-y: auto;
  max-height: 100px;
}
.container {
  position: relative;
}

.emptyData {
  user-select: none;
  cursor: auto;
  padding: 10px 0;
}

@media (max-width: 1000px) {
  .main {
    right: -50%;
  }
}
