.button {
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 30px;
  background-color: white;
  text-wrap: nowrap;
}

.icon {
  width: 30px;
}

.main {
  height: 150px;
  padding: 10px 20px;
  display: block;
  position: absolute;
  top: 200%;
  right: 50%;
  transform: translate(50%, 0%);
  z-index: 100;
  background-color: white;
  border: 3px solid #d9d9d9;
  border-radius: 30px;
}

.main form input {
  width: 200px;
}

.projects {
  padding: 5px;
  overflow-y: auto;
  height: 100px;
}

.projects::-webkit-scrollbar-button {
  display: none;
}

.projects::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.projects::-webkit-scrollbar {
  right: 0;
  width: 5px;
  background-color: white;
  scrollbar-color: black;
}

.container {
  position: relative;
}

.emptyData {
  user-select: none;
  cursor: auto;
  padding: 10px 0;
}

@media (max-width: 1000px) {
  .main {
    right: 100%;
  }
}

@media (max-width: 700px) {
  .container {
    position: static;
  }
  .main {
    width: 50%;
    top: 220px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

@media (max-width: 500px) {
  .main {
    width: 80%;
  }
}
