.form {
  border: 3px solid #d9d9d9;
  padding: 0 20px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.textarea {
  font-size: 14px;
  width: 60%;
  margin: 5px 0;
  height: 80%;
  resize: none;
  padding: 2px 20px;
  scrollbar-width: none;
  border: 3px solid #d9d9d9;
  border-radius: 30px;
  outline: none;
}

.input {
  font-size: 20px;
  width: 300px;
  border: 0;
}

.button {
  background: linear-gradient(45deg, #64719c, #2cc5e1) no-repeat;
  background-color: #64719c;
  transition: all linear 0.3s;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 20px;
  height: 34px;
  width: 160px;
  margin-left: 10px;
}

.button:hover {
  background-position: 200px;
}

.input:focus {
  outline: none;
}

@media (max-width: 1300px) {
  .input {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .textarea {
    display: none;
  }
}

@media (max-width: 1000px) {
  .button {
    font-size: 16px;
    width: 120px;
    height: 30px;
  }
  .textarea {
    font-size: 12px;
  }
  .form {
    height: 80px;
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  .textarea {
    display: none;
  }
}

@media (max-width: 500px) {
  .form {
    flex-wrap: wrap;
    justify-content: center;
  }
}
