.item {
  display: flex;
}

.isActive {
  width: 16px;
  transform: rotate(0deg);
}

.noActive {
  width: 16px;

  transform: rotate(270deg);
}

.list {
  display: flex;
  flex-direction: column;
}

.subProject {
  align-items: start;
  display: flex;
}

.subProjectContainer {
  width: 200px;
}
.subProjectName {
  display: flex;
}

.list {
  padding: 0;
}

.subProject div {
  display: block;
  word-wrap: break-word;
  text-wrap: wrap;
  max-width: 180px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
