.content {
  border-radius: 40px;
  padding: 0 20px;
  background-color: white;
  display: flex;
  width: 99.5%;
  height: 89%;
  align-items: center;
  justify-content: center;
}

.title {
  position: relative;
  font-size: 22px;
  font-weight: 400;
  padding-right: 5px;
}

.title div button {
  font-size: 22px;
  display: flex;
  font-weight: 400;
  align-items: center;
}
.isFetching {
  pointer-events: none;
}

.title::after {
  margin-left: 45px;
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 3px;
  height: 50px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sortForm {
  cursor: pointer;
  user-select: none;
  /* position: relative; */
  display: flex;
  margin-right: 30px;
}

.search {
  width: 100%;
  display: flex;
  margin-left: 10px;
}

.container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #008ba5, #01d8dd);
  border-radius: 40px;
}

.actions {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .title {
    font-size: 16px;
  }
  .title::after {
    display: none;
  }
  .sortForm {
    margin-right: 10px;
  }
}

@media (max-width: 700px) {
  .content {
    flex-wrap: wrap-reverse;
  }
  .actions {
    padding-bottom: 10px;
    justify-content: space-around;
    width: 100%;
  }

  .container {
    height: 100px;
  }

  .content {
    width: 98%;
    height: 92px;
  }

  .search form input {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .search form input,
  .title {
    font-size: 14px;
  }
}
