.subProject {
  text-wrap: nowrap;
  display: flex;

  border: 0;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}

.subProject img {
  margin-left: 4px;
}

.isFetching {
  pointer-events: none;
}

.icons {
  width: 30px;
}
