.projects {
  width: 86%;
}

.projectsContainer {
  display: flex;
  justify-content: center;
}

.loader {
  font-size: 13px;
}

.projectList {
  width: 100%;
}

.all {
  animation: downSpawnAnimation 0.3s linear forwards;
}

@keyframes downSpawnAnimation {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.isFetching {
  pointer-events: none;
}
