.item {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
}

.title,
.desc {
  position: relative;
  font-size: 20px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 70px;
  width: 600px;
  text-wrap: wrap;
  font-size: 16px;
}

.status {
  margin: 0 10px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.deleteButton,
.editButton,
.acceptButton,
.cancelButton {
  margin-right: 10px;
  padding: 0;
  border: 0;
  background: none;
}

.complete {
  color: green;
}

.noComplete {
  display: flex;
  align-items: center;
  color: red;
}

.content {
  align-items: center;
  display: flex;
}

.editButton img,
.acceptButton img,
.cancelButton img {
  width: 33px;
}

@media (max-width: 1000px) {
  .desc {
    display: none;
  }
}

@media (max-width: 600px) {
  .status,
  .title {
    font-size: 16px;
  }
}
